body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  height: 15%;
}

#title {
  margin: 0;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  background-color: dodgerblue;
}

#headline,
#percentual #mainchartdiv,
#regionchartdiv,
#footer {
  padding: 0.5rem;
}

.headline {
  font-size: 1rem;
}

.cases-headline {
  font-size: 1.5rem;
  font-weight: bold;
  color: dodgerblue;
}

#percentual {
  font-size: smaller;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  padding: 0.5rem;
}

.percentual-number {
  font-size: larger;
  font-weight: bold;
  color: dodgerblue;
}

#mainchartdiv,
#regionchartdiv {
  position: relative;
  height: 20rem;
  font-size: x-small;
}

#regionchartdiv {
  display: none;
}

#regionchartmobilediv {
  height: 40rem;
  background-color: aliceblue;
}

#footer {
  font-size: xx-small;
}

.source {
  margin-bottom: 1rem;
}

.disclaimer {
  padding: 1rem;
}

@media only screen and (min-width: 600px) {
  #title {
    margin: 0;
    padding: 1rem;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    background-color: dodgerblue;
  }

  #headline,
  #mainchartdiv,
  #regionchartdiv,
  #footer {
    padding: 1.5rem;
  }

  .headline {
    font-size: 2rem;
  }

  .cases-headline {
    font-size: 3rem;
    font-weight: bold;
    color: dodgerblue;
  }

  #percentual {
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    padding: 0.5rem;
  }

  .percentual {
    margin: 0.5rem;
  }

  .percentual-number {
    font-size: larger;
    font-weight: bold;
    color: dodgerblue;
  }

  #mainchartdiv,
  #regionchartdiv {
    position: relative;
    height: 30rem;
    font-size: small;
  }

  #regionchartdiv {
    display: block;
    background-color: aliceblue;
  }

  #regionchartmobilediv {
    display: none;
  }

  #footer {
    font-size: smaller;
  }

  .source {
    margin-bottom: 1rem;
  }

  .disclaimer {
    padding: 1rem;
  }
}
