body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  height: 15%;
}

#title {
  margin: 0;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  background-color: dodgerblue;
}

#headline,
#mainchartdiv,
#casesbyage,
#regionchartdiv,
#footer {
  padding: 0.5rem;
}

.headline {
  font-size: 1rem;
}

.cases-headline {
  font-size: 1.5rem;
  font-weight: bold;
  color: dodgerblue;
}

#mainchartdiv,
#rateofchange,
#casesbyage,
#regionchartdiv {
  position: relative;
  height: 20rem;
  font-size: x-small;
}

#mainchartdiv,
#casesbyagemobile,
#footer {
  background-color: aliceblue;
}

#regionchartdiv,
#casesbyage {
  display: none;
}

#regionchartmobilediv,
#casesbyagemobile {
  height: 40rem;
}

#footer {
  font-size: xx-small;
}

.disclaimer {
  padding: 1rem;
}

.source,
.sourcecode {
  background-color: slategrey;
  padding: 0.2rem;
  border-radius: 50rem;
  width: 7rem;
  margin: auto;
  color: white;
}

.source a {
  text-decoration: none;
  color: white;
}

.sourcecode {
  display: flex;
  justify-content: center;
  align-items: center;
}

#github {
  fill: white;
}

#github_link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-align: left;
  padding-left: 0.4rem;
}

@media only screen and (min-width: 950px) {
  #title {
    margin: 0;
    padding: 1rem;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    background-color: dodgerblue;
  }

  #headline,
  #mainchartdiv,
  #casesbyage,
  #regionchartdiv,
  #footer {
    padding: 1.5rem;
  }

  .headline {
    font-size: 2rem;
  }

  .cases-headline {
    font-size: 3rem;
    font-weight: bold;
    color: dodgerblue;
  }

  #mainchartdiv,
  #rateofchange,
  #casesbyage,
  #regionchartdiv {
    position: relative;
    height: 30rem;
    font-size: small;
  }

  #mainchartdiv,
  #casesbyage,
  #footer {
    background-color: aliceblue;
  }

  #casesbyage,
  #regionchartdiv {
    display: block;
  }

  #casesbyagemobile,
  #regionchartmobilediv {
    display: none;
  }

  #footer {
    font-size: smaller;
  }

  .source,
  .sourcecode {
    width: 11rem;
  }

  .disclaimer {
    padding: 1rem;
  }

  .sourcecode {
    padding: 0.3rem;
  }

  #github_link {
    padding: 0.4rem;
  }
}
