:root {
  --title-blue: dodgerblue;
  --background-blue: aliceblue;
  --light-blue: #6ec2e1;
  --dark-blue: #405caf;
  --grey-blue: #8fb2de;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  height: 15%;
}

#title {
  margin: 0;
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: white;
  background-color: var(--title-blue);
}

#headline,
#mainchartdiv,
#casesbyage,
#regionchartdiv,
#test-hosp,
#deaths,
#regiondeaths,
#agegroupdeaths,
#footer {
  padding: 0.5rem;
}

.headline {
  font-size: 1rem;
}

.cases-headline {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--title-blue);
}

.percentage {
  font-size: smaller;
}

#percentage {
  font-weight: bold;
  color: var(--title-blue);
}

#mainchartdiv,
#logchartdiv,
#rateofchange,
#casesbyage,
#regionchartdiv {
  position: relative;
  height: 20rem;
  font-size: x-small;
}

#test-hosp {
  height: 40rem;
  background-color: var(--background-blue);
}

#tests,
#hosp {
  position: relative;
  height: 50%;
}

#death-number {
  font-weight: bold;
  color: var(--title-blue);
  font-size: larger;
}

#death-detail {
  font-size: smaller;
}

#mainchartdiv,
#casesbyagemobile,
#agegroupdeathsmobile {
  background-color: var(--background-blue);
}

#regionchartdiv,
#casesbyage,
#agegroupdeaths,
#regiondeaths {
  display: none;
}

#regionchartmobilediv,
#casesbyagemobile,
#agegroupdeathsmobile,
#regiondeathsmobile {
  height: 40rem;
}

#ca-data {
  padding: 1rem 0;
}

#ca-data-header {
  background: var(--title-blue);
  color: white;
  font-weight: bold;
  padding: 0.5rem;
  font-size: larger;
}

#ca-data-subheader {
  font-size: smaller;
  padding: 0.5rem 0 0 0;
}

#ca-data-boxes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5rem 0;
}

.ca-numbers {
  width: 25%;
  background-color: var(--light-blue);
  padding: 0.5rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#bignumber {
  font-size: larger;
  font-weight: bold;
  color: white;
}

#footer {
  font-size: xx-small;
  background-color: var(--grey-blue);
}

.disclaimer {
  padding: 1rem;
}

.source,
.sourcecode {
  background-color: var(--dark-blue);
  padding: 0.2rem;
  width: 7rem;
  margin: auto;
  color: white;
}

.source a {
  text-decoration: none;
  color: white;
}

#github {
  fill: white;
  height: 100%;
}

#github_link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-align: left;
  padding-left: 0.4rem;
}

@media only screen and (min-width: 950px) {
  #title {
    margin: 0;
    padding: 1rem;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    background-color: var(--title-blue);
  }

  #headline,
  #mainchartdiv,
  #casesbyage,
  #regionchartdiv,
  #test-hosp,
  #regiondeaths,
  #agegroupdeaths,
  #footer {
    padding: 1rem;
  }

  #deaths,
  #ca-data {
    padding: 1rem;
    font-size: 1.5rem;
  }

  .headline {
    font-size: 2rem;
  }

  .cases-headline {
    font-size: 3rem;
    font-weight: bold;
    color: var(--title-blue);
  }

  .percentage {
    font-size: x-large;
  }

  #percentage {
    font-weight: bold;
    color: var(--title-blue);
  }

  #mainchartdiv,
  #logchartdiv,
  #rateofchange,
  #casesbyage,
  #regionchartdiv,
  #agegroupdeaths,
  #regiondeaths {
    position: relative;
    height: 30rem;
    font-size: small;
  }

  #test-hosp {
    display: flex;
    justify-content: space-around;
    height: 20rem;
  }

  #tests,
  #hosp {
    position: relative;
    width: 100%;
    height: 100%;
  }

  #mainchartdiv,
  #casesbyage,
  #agegroupdeaths,
  #footer {
    background-color: var(--background-blue);
  }

  #casesbyage,
  #regionchartdiv,
  #agegroupdeaths,
  #regiondeaths {
    display: block;
  }

  #casesbyagemobile,
  #regionchartmobilediv,
  #agegroupdeathsmobile,
  #regiondeathsmobile {
    display: none;
  }

  #ca-data {
    padding: 1rem 0;
  }

  #footer {
    font-size: smaller;
    background-color: var(--grey-blue);
  }

  .source,
  .sourcecode {
    width: 10rem;
  }

  .disclaimer {
    padding: 1rem;
  }

  .sourcecode {
    padding: 0.3rem;
  }

  #github_link {
    padding: 0.5rem;
  }
}
